@charset "UTF-8";

/* font 적용 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
body { font-family: 'Do Hyeon', sans-serif; }


/* 시스템 태그 속성 변경 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* bootstrap 코드 */
.btn:focus { box-shadow: none; }
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #355C7D;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #6C5B7B;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-link:focus, .nav-link:hover {
    color: #C06C84;
}
.input-group {
    width: 70%;
}
.table {
    width: 70%;
    margin: auto;
    text-align: center;
}


/* pc 화면 */
h1 {
    margin: 50px;
    margin-bottom: 30px;
    font-size: 50px;
    font-style: italic;
}
#navi { margin-bottom: 50px; }
#number_ball { margin-bottom: 20px; }
#number_frequency { margin-bottom: 20px; }
#make_lotto_number {
    margin-top: 20px;
    margin-bottom: 30px;
}
#select_lotto {
    margin-top: 20px;
    margin-bottom: 30px;
}
#select_lotto_title {
    font-size: x-large;
    margin: 10px;
}
#select_lotto_date {
    height: 38px;
    line-height: 38px;
}
#number_frequency_title {
    font-size: x-large;
    margin: 10px;
}
#number_analysis_title {
    font-size: x-large;
    margin: 10px;
}
#number_analysis_btn {
    margin-top: 20px;
    margin-bottom: 30px;
}
#kakao_map_title {
    font-size: x-large;
    margin: 10px;
}

.circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: x-large;
    border-radius: 50%;
    background-color: #FBC400;
    margin: 20px;
}
.circle-medium {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: x-large;
    border-radius: 50%;
    background-color: #FBC400;
    margin: 15px;
}
.circle-mini {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: large;
    border-radius: 50%;
    background-color: #FBC400;
    margin: 5px;
}

.ball-text { background-color: white; }
.view-balls { display: none; }

.bar-chart {
    width: 1000px;
}

#show_map { display: none; }
#reset_map_btn { display: none; }

.divide { margin: 20px; }
footer { margin: 50px; }


/* moblie 화면 */
@media (max-width: 992px) {
    h1 { font-size: 38px; }
    #navi { margin-bottom: 40px; }
    .input-group { width: 80%; }
    .table { width: 80%; }
}
@media (max-width: 767px) {
    #search_lotto_btn { margin-top: 10px; }
}
@media (max-width: 419px) {
    h1 { font-size: xx-large; }
    #navi { margin-bottom: 30px; }
    .input-group { width: 100%; }
    .table { width: 100%; }
}